[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dennis Dmitriev (dis-xcom)
        read = group QA Ninjas
[access "refs/meta/*"]
	read = group QA Ninjas
	push = group QA Ninjas
	label-Code-Review = -2..+2 group QA Ninjas
	label-Verified = -1..+1 group QA Ninjas
	rebase = group QA Ninjas
	removeReviewer = group QA Ninjas
	submit = group QA Ninjas
[access "refs/for/refs/*"]
	read = group QA Ninjas
	push = group QA Ninjas
	label-Code-Review = -2..+2 group QA Ninjas
	label-Verified = -1..+1 group QA Ninjas
	rebase = group QA Ninjas
	removeReviewer = group QA Ninjas
	submit = group QA Ninjas
[access "refs/heads/*"]
	read = group QA Ninjas
	create = group QA Ninjas
	push = +force group QA Ninjas
	pushMerge = group QA Ninjas
        rebase = group QA Ninjas
        submit = group QA Ninjas
[access "refs/tags/*"]
	push = group QA Ninjas
	push = +force group QA Ninjas
        
[submit]
	action = rebase always
        mergeContent = true
[receive]
        requireChangeId = true
