nodes:
    cfg01.cookied-bm-mcp-dvr-vxlan.local:
      reclass_storage_name: infra_config_node01
      roles:
      - infra_config
      - linux_system_codename_xenial
      interfaces:
        ens3:
          role: single_dhcp

    # Physical nodes
    kvm01.cookied-bm-mcp-dvr-vxlan.local:
      reclass_storage_name: infra_kvm_node01
      roles:
      - infra_kvm
      - linux_system_codename_xenial
      interfaces:
        enp9s0f0:
          role: single_mgm_dhcp
        enp9s0f1:
          role: bond0_ab_ovs_vlan_ctl

    kvm02.cookied-bm-mcp-dvr-vxlan.local:
      reclass_storage_name: infra_kvm_node02
      roles:
      - infra_kvm
      - linux_system_codename_xenial
      interfaces:
        enp9s0f0:
          role: single_mgm_dhcp
        enp9s0f1:
          role: bond0_ab_ovs_vlan_ctl

    kvm03.cookied-bm-mcp-dvr-vxlan.local:
      reclass_storage_name: infra_kvm_node03
      roles:
      - infra_kvm
      - linux_system_codename_xenial
      interfaces:
        enp9s0f0:
          role: single_mgm_dhcp
        enp9s0f1:
          role: bond0_ab_ovs_vlan_ctl

    cmp01.cookied-bm-mcp-dvr-vxlan.local:
      reclass_storage_name: openstack_compute_node01
      roles:
      - openstack_compute
      - features_lvm_backend
      - linux_system_codename_xenial
      interfaces:
        enp9s0f0:
          role: single_dhcp
        enp9s0f1:
          role: bond0_ab_ovs_vxlan_ctl_mesh
          single_address: ${_param:openstack_compute_node01_control_address}
          tenant_address: ${_param:openstack_compute_node01_tenant_address}


    cmp02.cookied-bm-mcp-dvr-vxlan.local:
      reclass_storage_name: openstack_compute_node02
      roles:
      - openstack_compute
      - features_lvm_backend
      - linux_system_codename_xenial
      interfaces:
        enp9s0f0:
          role: single_dhcp
        enp9s0f1:
          role: bond0_ab_ovs_vxlan_ctl_mesh
          single_address: ${_param:openstack_compute_node02_control_address}
          tenant_address: ${_param:openstack_compute_node02_tenant_address}


    gtw01.cookied-bm-mcp-dvr-vxlan.local:
      reclass_storage_name: openstack_gateway_node01
      roles:
      - openstack_gateway
      - linux_system_codename_xenial
      interfaces:
        enp2s0f0:
          role: single_dhcp
        enp2s0f1:
          role: bond0_ab_dvr_vxlan_ctl_mesh_floating

    gtw02.cookied-bm-mcp-dvr-vxlan.local:
      reclass_storage_name: openstack_gateway_node02
      roles:
      - openstack_gateway
      - linux_system_codename_xenial
      interfaces:
        enp2s0f0:
          role: single_dhcp
        enp2s0f1:
          role: bond0_ab_dvr_vxlan_ctl_mesh_floating
