nodes:
    cfg01.cookied-bm-mcp-dvr-vxlan.local:
      reclass_storage_name: infra_config_node01
      roles:
      - infra_config
      - linux_system_codename_xenial
      interfaces:
        ens3:
          role: single_dhcp
        ens4:
          role: single_static_ctl

    # Physical nodes
    kvm01.cookied-bm-mcp-dvr-vxlan.local:
      reclass_storage_name: infra_kvm_node01
      roles:
      - infra_kvm
      - linux_system_codename_xenial
      interfaces:
        enp9s0f0:
          role: single_mgm_dhcp
        enp9s0f1:
          role: bond0_ab_ovs_vlan_ctl

    kvm02.cookied-bm-mcp-dvr-vxlan.local:
      reclass_storage_name: infra_kvm_node02
      roles:
      - infra_kvm
      - linux_system_codename_xenial
      interfaces:
        enp9s0f0:
          role: single_mgm_dhcp
        enp9s0f1:
          role: bond0_ab_ovs_vlan_ctl

    kvm03.cookied-bm-mcp-dvr-vxlan.local:
      reclass_storage_name: infra_kvm_node03
      roles:
      - infra_kvm
      - linux_system_codename_xenial
      interfaces:
        enp9s0f0:
          role: single_mgm_dhcp
        enp9s0f1:
          role: bond0_ab_ovs_vlan_ctl

    cmp001.cookied-bm-mcp-dvr-vxlan.local:
      reclass_storage_name: openstack_compute_node01
      roles:
      - openstack_compute
      - features_lvm_backend
      - linux_system_codename_xenial
      interfaces:
        enp9s0f0:
          role: single_mgm_dhcp
        enp9s0f1:
          role: bond0_ab_dvr_vxlan_ctl_mesh_floating
          single_address: 10.167.4.105
          tenant_address: 10.167.6.105


    cmp002.cookied-bm-mcp-dvr-vxlan.local:
      reclass_storage_name: openstack_compute_node02
      roles:
      - openstack_compute
      - features_lvm_backend
      - linux_system_codename_xenial
      interfaces:
        enp9s0f0:
          role: single_mgm_dhcp
        enp9s0f1:
          role: bond0_ab_dvr_vxlan_ctl_mesh_floating
          single_address: 10.167.4.106
          tenant_address: 10.167.6.106

    gtw01.cookied-bm-mcp-dvr-vxlan.local:
      reclass_storage_name: openstack_gateway_node01
      roles:
      - openstack_gateway
      - linux_system_codename_xenial
      interfaces:
        enp2s0f0:
          role: single_mgm_dhcp
        enp2s0f1:
          role: bond0_ab_dvr_vxlan_ctl_mesh_external
          external_address: 172.17.42.4
          external_network_netmask: 255.255.255.192

    gtw02.cookied-bm-mcp-dvr-vxlan.local:
      reclass_storage_name: openstack_gateway_node02
      roles:
      - openstack_gateway
      - linux_system_codename_xenial
      interfaces:
        enp2s0f0:
          role: single_mgm_dhcp
        enp2s0f1:
          role: bond0_ab_dvr_vxlan_ctl_mesh_external
          external_address: 172.17.42.5
          external_network_netmask: 255.255.255.192
