# git+git://github.com/openstack/fuel-devops.git@887368d#egg=project[postgre]   # Use this requirement for PostgreSQL
libvirt-python>=3.5.0,<4.1.0  # LGPLv2+
git+git://github.com/openstack/fuel-devops.git@25d4cc67315132b1b27131977b2e07029b3ffbe1   # Use this requirement for Sqlite3, or if requirements for PostgreSQL are already installed
git+git://github.com/dis-xcom/fuel-devops-driver-ironic
paramiko
six
requests>=2.2.0
oslo.config>=3.12.0 # Apache-2.0
pytest>=2.9,<=3.2.5
docker-py
docker-compose==1.7.1
urllib3
junit-xml
jinja2>=2.9
jira
testrail<=0.3.8
functools32
python-k8sclient==0.4.0
salt-pepper<=0.5.3
setuptools<=36.2.0
netaddr
mock>=1.2
python-jenkins
